schema1.dtd

<!-- Defining a ROOT element "orders"
     which MUST contain ONE OR MORE COPIES of ANOTHER ELEMENT "order" -->
<!ELEMENT orders (order+) >

<!-- element "order" must contain exactly ONE customer element -->
<!ELEMENT order ( customer+)>

<!-- Customer element MUST contain TEXT -->
<!ELEMENT customer (#PCDATA) >
